@font-face {
	font-family: 'Gotham-rounded-book';
	src: url('../fonts/gotham-rounded-book.eot');
	src: local('☺'), url('../fonts/gotham-rounded-book.woff') format('woff'), url('../fonts/gotham-rounded-book.ttf') format('truetype'), url('../fonts/gotham-rounded-book.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

body{
	margin:0;
	font-family: 'Gotham-rounded-book';
}

#header {
	font-family: 'Gotham-rounded-book';
	position:relative;
	display:block;
	background: #F6B818;
	/*border:solid thin red;*/
	width:100%;
	height: 110px;
	line-height: 110px;
	color:#3B2E7F;
	overflow: hidden;
}

#bs-main-logo{
	display:inline-block;
	margin: 20px 50px;
}

.bs-img-invert{
	filter: grayscale(100%) invert(100%) brigthness(100);
}

#header nav{
	display:inline-block;
}
#header li{
	display:inline;
}

#bs-contact-text{
	display:inline-block;
	float:right;
	margin:0 50px;
}

#bs-contact-text .inline-header{
	display:inline;
	font-size: 18px;
	padding: 0 5px;
}

#bs-contact-text .inline-header img{
	display:inline;
	width:27px;
	height: 27px;
	vertical-align:-5px;
	margin-right:10px;
}

#bs-contact-text h3{
	letter-spacing: 2.5px;
	display:inline;
}

#bs-contact-text .inline-header:first-of-type{
	border-right:solid 2px #3B2E7F;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
	#header{
		overflow:hidden;
		height:auto;
		line-height:35px;
	}

	#bs-main-logo{
		margin: 50px auto;
    	float: none;
    	width: 230px;
    	display: block;
	}

	#bs-contact-text{
		float:none;
		margin:0 auto;
		text-align: center;
		display:block;
	}

	#bs-contact-text .inline-header{
		font-size:14px
	}
	
	#bs-contact-text .inline-header img{
		width:15px;
		height:15px;
	}

	.form_container form{
		padding:0;
	}
	.form_container .round_purple{
		display:block;
		width:92%;
		padding: 0 8px;
	}
}