#header {
	position:relative;
	display:block;
	background: #F6B818;
	border:solid thin red;
	width:100%;
	height: 110px;
	padding:0 50px;
}

#bs-main-logo{
	display:inline-block;
	margin: 20px 0;
}

.bs-img-invert{
	filter: grayscale(100%) invert(100%) brigthness(100);
}

#header nav{
	display:inline-block;
}
#header li{
	display:inline;
}

#bs-contact-text{
	display:inline-block;
	float:right;
}

#bs-contact-text h3{
	display:inline;
}